Repository ISISScientificComputing/autoreduce, pull requests merged in 2018-06, with the labels that each got.

#83 Set testing builds to debug mode by default
  WebApp/autoreduce_webapp/autoreduce_webapp/test_settings.py
Labels: Bug, Low priority, WebApp

#80 Move project requirements to setup.py
  .travis.yml
  QueueProcessors/AutoreductionProcessor/autoreduction_processor.py
  Scripts/ManualSubmissionScript/manual_submission.py
  requirements.txt
  setup.py
Labels: Maintenance

#98 Add validators to model and perform clean before saving
  WebApp/autoreduce_webapp/reduction_viewer/models.py
  WebApp/autoreduce_webapp/reduction_viewer/utils.py
Labels: Bug, WebApp

#97 Remove get_or_create in models
  Documentation/Technical Documentation.md
  WebApp/autoreduce_webapp/reduction_viewer/utils.py
Labels: Bug, WebApp

#84 Re-Run Jobs Validation
  .travis.yml
  Scripts/Build/database/generate_testing_database.sh
  Scripts/Build/database/populate-reduction_viewer-db.sql
  Scripts/Build/tests/test_db_generation.py
  WebApp/autoreduce_webapp/reduction_variables/views.py
  WebApp/autoreduce_webapp/reduction_viewer/utils.py
  WebApp/autoreduce_webapp/static/javascript/run_variables.js
  WebApp/autoreduce_webapp/templates/submit_runs.html
  WebApp/autoreduce_webapp/tests/__init__.py
  WebApp/autoreduce_webapp/tests/oldtest_autoreduce_webapp.py
  WebApp/autoreduce_webapp/tests/oldtest_reduction_variables.py
  WebApp/autoreduce_webapp/tests/oldtest_reduction_viewer.py
  WebApp/autoreduce_webapp/tests/test_input_processing.py
  WebApp/autoreduce_webapp/tests/utils.py
  WebApp/autoreduce_webapp/utilities/__init__.py
  WebApp/autoreduce_webapp/utilities/input_processing.py
Labels: Bug, WebApp
