Repository ISISScientificComputing/autoreduce, pull requests merged in 2019-06, with the labels that each got.

#318 Updates to help pages
  WebApp/autoreduce_webapp/templates/help.html
Labels: :bust_in_silhouette: User requirement, :key: Documentation, :key: WebApp

#313 Enginx event mode
  QueueProcessors/AutoreductionProcessor/post_process_admin.py
  QueueProcessors/AutoreductionProcessor/test_settings.py
  QueueProcessors/AutoreductionProcessor/tests/test_post_process_admin.py
  QueueProcessors/QueueProcessor/queue_processor.py
  WebApp/autoreduce_webapp/autoreduce_webapp/templatetags/colour_table_rows.py
  WebApp/autoreduce_webapp/templates/run_summary.html
  utils/clients/settings/client_settings_factory.py
  utils/clients/tests/test_queue_client.py
Labels: :bust_in_silhouette: User requirement, :key: Internal, :key: WebApp

#321 Credentials file for services
  .gitignore
  WebApp/autoreduce_webapp/autoreduce_webapp/test_settings.py
  build/commands/migrate_settings.py
  utils/test_credentials.ini
  utils/test_settings.py
Labels: :bust_in_silhouette: Developer Requirement, :key: Internal

#330 Take last RB number from summary
  monitors/new_end_of_run_monitor.py
  monitors/tests/test_new_end_of_run_monitor.py
Labels: 2 days, :bust_in_silhouette: Developer Requirement, :clock1: High Priority, :key: Monitors

#333 Improved run loading performance for the new webapp
  WebApp/autoreduce_webapp/reduction_viewer/views.py
Labels: 6 days, :bust_in_silhouette: Developer Requirement, :key: WebApp

#336 Update main README.md to ref to Wiki and include very short intro
  Documentation/docs_for_main_readme/Autoreduction_main_components.png
  Documentation/docs_for_main_readme/README.md
  QueueProcessors/README.md
  README.md
  WebApp/README.md
Labels: :bust_in_silhouette: Developer Requirement, :key: Documentation
