Repository ISISScientificComputing/autoreduce, pull requests merged in 2019-04, with the labels that each got.

#286 System test
  .travis.yml
  QueueProcessors/AutoreductionProcessor/autoreduction_processor.py
  QueueProcessors/AutoreductionProcessor/test_settings.py
  QueueProcessors/AutoreductionProcessor/tests/test_autoreduction_processor.py
  QueueProcessors/QueueProcessor/queue_processor.py
  QueueProcessors/QueueProcessor/test_settings.py
  QueueProcessors/restart.sh
  QueueProcessors/stop.sh
  build/commands/migrate_settings.py
  scripts/activemq_tests/__init__.py
  scripts/activemq_tests/reduce.py
  scripts/activemq_tests/reduce_vars.py
  scripts/activemq_tests/send_message.py
  scripts/activemq_tests/test_settings.py
  scripts/activemq_tests/test_stomp_activemq.py
  scripts/manual_operations/manual_remove.py
  scripts/manual_operations/tests/test_manual_remove.py
  setup.py
  systemtests/__init__.py
  systemtests/check_root.sh
  systemtests/test_end_to_end.py
  utils/clients/client_class_diagram.PNG
  utils/clients/database_client.py
  utils/clients/tests/test_icat_client.py
  utils/clients/tests/test_queue_client.py
  utils/data_archive/data_archive_creator.py
  utils/data_archive/tests/test_data_archive_creator.py
  utils/service_handling.py
  utils/test_settings.py
Labels: 6, :bust_in_silhouette: Developer Requirement, :key: Monitors, :key: Queues, :key: Testing

#300 New End of Run Monitor
  monitors/README.md
  monitors/new_end_of_run_monitor.py
  monitors/test_settings.py
  monitors/tests/test_new_end_of_run_monitor.py
  setup.py
Labels: :bust_in_silhouette: Developer Requirement, :key: Monitors

#304 Handle ENGINX summary format
  monitors/new_end_of_run_monitor.py
  monitors/tests/test_new_end_of_run_monitor.py
Labels: :bust_in_silhouette: Developer Requirement, :exclamation: Bug, :key: Monitors
