Repository ISISScientificComputing/autoreduce, pull requests merged in 2019-08, with the labels that each got.

#349 Removal of old end of run monitor code
  .DS_Store
  .gitignore
  lastruns.csv.lock
  monitors/end_of_run_monitor.py
  monitors/health_check.py
  monitors/icat_monitor.py
  monitors/monitor_win_service.py
  monitors/run_detection.py
  monitors/tests/helpers.py
  monitors/tests/test_end_of_run_monitors.py
  monitors/tests/test_health_check.py
  monitors/tests/test_icat_monitor.py
  monitors/tests/test_run_detection.py
Labels: 👤 Developer Requirement, 🔑 Monitors

#346 create a Docker environment to run Mantid
  .gitattributes
  .travis.yml
  docker_reduction/__init__.py
  docker_reduction/mantid/Dockerfile
  docker_reduction/mantid/Mantid.user.properties
  docker_reduction/mantid/README.md
  docker_reduction/mantid/__init__.py
  docker_reduction/mantid/mounts.py
  docker_reduction/mantid/operations.py
  docker_reduction/mantid/tests/__init__.py
  docker_reduction/mantid/tests/input/FakeWorkspace.nxs
  docker_reduction/mantid/tests/input/__init__.py
  docker_reduction/mantid/tests/input/load_script.py
  docker_reduction/mantid/tests/test_mantid_docker_container.py
  docker_reduction/mount.py
  setup.py
Labels: 👤 Developer Requirement, 🔑 External

#360 Change mantid properties file to log at notice level
  docker_reduction/mantid/Mantid.user.properties
Labels: 👤 Developer Requirement, 🔑 Reduction

#361 325 MPL background
  QueueProcessors/AutoreductionProcessor/post_process_admin.py
  docker_reduction/mantid/Dockerfile
  docker_reduction/mantid/README.md
Labels: 👤 Developer Requirement, 🔑 Reduction
