Repository ISISScientificComputing/autoreduce, pull requests merged in 2020-06, with the labels that each got.

#591 Integrate Message into test_end_to_end
  monitors/tests/test_run_detection.py
  systemtests/test_end_to_end.py
  utils/clients/queue_client.py
  utils/clients/tests/test_queue_client.py
Labels: 🕐 Review

#594 Add validation for data ready
  message/job.py
  message/tests/test_job.py
  message/validation/__init__.py
  message/validation/process.py
  message/validation/stages.py
  message/validation/tests/__init__.py
  message/validation/tests/test_process.py
  message/validation/tests/test_stages.py
  message/validation/tests/test_validators.py
  message/validation/validators.py
Labels: 🔑 Queues

#597 reduction_message not null and instrument used
  message/job.py
  message/tests/test_job.py
  monitors/run_detection.py
  monitors/tests/test_run_detection.py
Labels: ❗️ Bug, 🔑 Queues

#599 Add Output database tables
  WebApp/autoreduce_webapp/reduction_viewer/models.py
  build/database/populate_reduction_viewer.sql
  build/tests/test_db_generation.py
Labels: 🔑 Database

#600 Add icat as pypi library
  .travis.yml
  build/install/icat.bat
  build/install/icat.sh
  build/install/install_services.py
  setup.py
Labels: ICAT

#585 Django orm queue processors
  model/database/access.py
  model/database/tests/test_access.py
  queue_processors/queue_processor/base.py
  queue_processors/queue_processor/orm_mapping.py
  queue_processors/queue_processor/queue_processor.py
  queue_processors/queue_processor/queueproc_utils/instrument_utils.py
  queue_processors/queue_processor/queueproc_utils/instrument_variable_utils.py
  queue_processors/queue_processor/queueproc_utils/messaging_utils.py
  queue_processors/queue_processor/queueproc_utils/reduction_run_utils.py
  queue_processors/queue_processor/queueproc_utils/status_utils.py
  queue_processors/queue_processor/queueproc_utils/tests/compare_db_object.py
  queue_processors/queue_processor/queueproc_utils/tests/test_messaging_utils.py
  queue_processors/queue_processor/queueproc_utils/tests/test_status_utils.py
  queue_processors/queue_processor/queueproc_utils/tests/test_variable_utils.py
  queue_processors/queue_processor/queueproc_utils/variable_utils.py
  scripts/manual_operations/manual_remove.py
  scripts/manual_operations/manual_submission.py
  scripts/manual_operations/tests/test_manual_submission.py
  systemtests/test_end_to_end.py
  utils/clients/django_database_client.py
  utils/clients/tests/test_django_database_client.py
Labels: 🔑 Database

#609 Update various README and test templates for setup
  build/ansible-compute/roles/queue_processors/templates/qp_settings.py.j2
  queue_processors/README.md
  queue_processors/queue_processor/queue_processor.py
  queue_processors/queue_processor/tests/test_queue_processor.py
  requirements.txt
  utils/README.md
  utils/clients/settings/client_settings.py
  utils/clients/settings/client_settings_factory.py
  utils/clients/settings/tests/test_client_settings.py
Labels: 🔑 Queues, 🔑 Testing

#610 Refactor find highest version
  model/database/access.py
  model/database/tests/test_access.py
  queue_processors/queue_processor/queueproc_utils/reduction_run_utils.py
Labels: 🔑 Database

#596 Add plot_location use to webapp
  .gitignore
  Documentation/release-notes/20-1.md
  WebApp/autoreduce_webapp/reduction_viewer/views.py
  WebApp/autoreduce_webapp/templates/run_summary.html
  plotting/plot_handler.py
  plotting/tests/test_plot_handler.py
  utils/clients/sftp_client.py
Labels: 🔑 WebApp

#620 Add a simple instrument prefix map to enable manual submission
  scripts/manual_operations/manual_submission.py
  scripts/manual_operations/tests/test_manual_submission.py
Labels: 🔑 Internal

#637 Fire for CLI
  scripts/manual_operations/manual_submission.py
  scripts/manual_operations/tests/test_manual_submission.py
  setup.py
Labels: :key: Scripts
