Repository ISISScientificComputing/autoreduce, pull requests merged in 2020-05, with the labels that each got.

#523 Standardise test-docstrings to 'Test/When' for Clients
  utils/clients/tests/test_abstract_client.py
  utils/clients/tests/test_cycle_ingestion_client.py
  utils/clients/tests/test_database_client.py
  utils/clients/tests/test_icat_client.py
  utils/clients/tests/test_queue_client.py
  utils/clients/tests/test_sftp_client.py
Labels: 🔑 Documentation, 🔑 Testing

#532 Simplify slow docker tests by mocking
  docker_reduction/mantid/tests/test_mantid_docker_container.py
Labels: 🔑 Testing

#538 Use exisitng queue client in webapp
  WebApp/autoreduce_webapp/autoreduce_webapp/queue_processor.py
  WebApp/autoreduce_webapp/reduction_variables/utils.py
Labels: 🔑 Queues, 🔑 WebApp

#537 Amend Navbar tour step content
  WebApp/autoreduce_webapp/static/javascript/tours/navbar-tour.js
Labels: 🔑 Documentation, 🔑 WebApp

#533 Manual Submission to check DB before calling ICAT
  scripts/manual_operations/manual_submission.py
  scripts/manual_operations/tests/test_manual_submission.py
Labels: ICAT, 🔑 Database

#539 django orm outside of webapp
  .travis.yml
  WebApp/autoreduce_webapp/autoreduce_webapp/test_settings.py
  model/__init__.py
  model/database/__init__.py
  model/database/orm.py
  model/database/tests/__init__.py
  model/database/tests/test_orm.py
Labels: 🔑 Database

#534 482 plot factory
  WebApp/autoreduce_webapp/autoreduce_webapp/urls.py
  plotting/plot_factory/Plot_factory.png
  plotting/plot_factory/README.md
  plotting/plot_factory/__init__.py
  plotting/plot_factory/dashapp.py
  plotting/plot_factory/layout.py
  plotting/plot_factory/plot_factory.py
  plotting/plot_factory/tests/mocked_values.py
  plotting/plot_factory/tests/test_dashapp.py
  plotting/plot_factory/tests/test_layout.py
  plotting/plot_factory/tests/test_plot_factory.py
  plotting/plot_factory/tests/test_trace.py
  plotting/plot_factory/trace.py
  plotting/plot_meta_language/plot_types/example.yaml
  requirements.txt
Labels: 👤 Developer Requirement, 👤 Project Requirement

#568 Create client for django orm use
  utils/clients/django_database_client.py
  utils/clients/tests/test_django_database_client.py
Labels: 🔑 Database

#569 Change system tests to use Dajngo ORM
  systemtests/test_end_to_end.py
Labels: 🔑 Database

#570 Remove django ORM from manual_remove.py
  scripts/manual_operations/README.md
  scripts/manual_operations/manual_remove.py
  scripts/manual_operations/tests/test_manual_remove.py
  utils/clients/database_client.py
Labels: 🔑 Database

#567 Refactor ppa 'do not overwrite' handling
  WebApp/autoreduce_webapp/reduction_viewer/models.py
  message/job.py
  message/tests/test_job.py
  monitors/run_detection.py
  monitors/tests/test_run_detection.py
  queue_processors/autoreduction_processor/autoreduction_logging_setup.py
  queue_processors/autoreduction_processor/autoreduction_processor.py
  queue_processors/autoreduction_processor/post_process_admin.py
  queue_processors/autoreduction_processor/tests/test_post_process_admin.py
  queue_processors/queue_processor/queue_processor.py
  scripts/manual_operations/manual_submission.py
  scripts/manual_operations/tests/test_manual_submission.py
Labels: 🕐 Review

#575 Django ORM manual submission
  scripts/manual_operations/manual_submission.py
  scripts/manual_operations/tests/test_manual_submission.py
  utils/clients/__init__.py
  utils/clients/django_database_client.py
  utils/clients/tests/test_django_database_client.py
Labels: 🔑 Database

#580 Integrate Message into queue_processor
  queue_processors/queue_processor/queue_processor.py
  queue_processors/queue_processor/tests/test_queue_processor.py
Labels: 🔑 Queues

#590 Move block scripts sections to it's previous state
  WebApp/autoreduce_webapp/templates/base.html
Labels: 🕐 Review
