Repository ISISScientificComputing/autoreduce, pull requests merged in 2020-07, with the labels that each got.

#613 Allow for multiple runs to be removed at once
  scripts/manual_operations/manual_remove.py
  scripts/manual_operations/tests/test_manual_remove.py
Labels: 👤 Developer Requirement, 🕐 Low priority

#646 Place log and updating of amq message with reduction started inside s…
  queue_processors/autoreduction_processor/post_process_admin.py
  queue_processors/autoreduction_processor/tests/test_post_process_admin.py
Labels: 👤 Developer Requirement, 🔑 Reduction

#642 Ensure that custom UOWS Auth matches updated django API
  WebApp/autoreduce_webapp/autoreduce_webapp/backends.py
  WebApp/autoreduce_webapp/autoreduce_webapp/view_utils.py
  WebApp/autoreduce_webapp/autoreduce_webapp/views.py
  WebApp/autoreduce_webapp/reduction_viewer/views.py
Labels: ❗️ Bug, 🔑 WebApp, 🕐 High Priority

#654 Update coverage rc
  .coveragerc
Labels: :key: Environment

#629 Handle multiple images for a single job
  WebApp/autoreduce_webapp/reduction_viewer/views.py
  WebApp/autoreduce_webapp/templates/run_summary.html
  plotting/plot_handler.py
  plotting/tests/test_plot_handler.py
Labels: 📊 MARI, 🔑 WebApp

#647 Place the specifying of directory locations which Autoreduction shoul…
  queue_processors/autoreduction_processor/post_process_admin.py
  queue_processors/autoreduction_processor/tests/test_post_process_admin.py
Labels: 👤 Developer Requirement, 🔑 Reduction

#645 Refactor queue processors
  queue_processors/queue_processor/_utils_classes.py
  queue_processors/queue_processor/handle_message.py
  queue_processors/queue_processor/handling_exceptions.py
  queue_processors/queue_processor/queue_listener.py
  queue_processors/queue_processor/queue_processor.py
  queue_processors/queue_processor/queue_processor_daemon.py
  queue_processors/queue_processor/tests/test_handle_message.py
  queue_processors/queue_processor/tests/test_queue_listener.py
  queue_processors/queue_processor/tests/test_queue_processor.py
Labels: 🔑 Queues

#650 Shutdown QP client on timer gracefully
  queue_processors/queue_processor/queue_listener.py
  queue_processors/queue_processor/queue_listener_daemon.py
  queue_processors/queue_processor/queue_processor_daemon.py
  queue_processors/queue_processor/tests/test_queue_listener_daemon.py
  queue_processors/restart.sh
  queue_processors/stop.sh
  utils/clients/queue_client.py
  utils/clients/tests/test_queue_client.py
Labels: 🔑 Queues

#657 Unpin test deps
  requirements.txt
  scripts/scheduler_ingest.py
  utils/clients/database_client.py
Labels: :key: Environment

#655 Tidy class responsiblities Queue Processor
  .gitignore
  WebApp/autoreduce_webapp/reduction_variables/utils.py
  model/database/access.py
  model/database/records.py
  model/database/tests/test_access.py
  model/database/tests/test_records.py
  model/message/message.py
  model/message/tests/test_job.py
  model/message/validation/stages.py
  model/message/validation/tests/test_stages.py
  model/message/validation/tests/test_validators.py
  model/message/validation/validators.py
  monitors/run_detection.py
  monitors/tests/test_run_detection.py
  queue_processors/autoreduction_processor/autoreduction_processor.py
  queue_processors/autoreduction_processor/post_process_admin.py
  queue_processors/autoreduction_processor/tests/test_autoreduction_processor.py
  queue_processors/autoreduction_processor/tests/test_post_process_admin.py
  queue_processors/queue_processor/handle_message.py
  queue_processors/queue_processor/queue_listener.py
  queue_processors/queue_processor/queueproc_utils/messaging_utils.py
  queue_processors/queue_processor/queueproc_utils/reduction_run_utils.py
  queue_processors/queue_processor/queueproc_utils/tests/test_messaging_utils.py
  queue_processors/queue_processor/tests/test_handle_message.py
  queue_processors/queue_processor/tests/test_queue_listener.py
  scripts/manual_operations/manual_submission.py
  scripts/manual_operations/tests/test_manual_submission.py
  systemtests/test_end_to_end.py
  utils/clients/queue_client.py
  utils/clients/tests/test_queue_client.py
Labels: 👤 Developer Requirement, 🔑 Queues

#649 Create two sub-methods to handle final result directory path
  queue_processors/autoreduction_processor/post_process_admin.py
  queue_processors/autoreduction_processor/tests/test_post_process_admin.py
Labels: 👤 Developer Requirement, 🔑 Reduction

#660 implement virtual interactive tour for run summary page
  WebApp/autoreduce_webapp/static/javascript/tours/run_summary_tour.js
  WebApp/autoreduce_webapp/templates/run_summary.html
Labels: 👤 Developer Requirement, 🔑 WebApp

#671 625 ppar result paths test access
  .travis.yml
  queue_processors/autoreduction_processor/post_process_admin.py
  queue_processors/autoreduction_processor/tests/test_post_process_admin.py
Labels: 👤 User requirement, 🔑 Reduction

#675 Format plot display
  WebApp/autoreduce_webapp/static/css/base.css
  WebApp/autoreduce_webapp/templates/run_summary.html
Labels: 🔑 WebApp
