Repository ISISScientificComputing/autoreduce, pull requests merged in 2020-11, with the labels that each got.

#869 Use large modal for logs
  WebApp/autoreduce_webapp/templates/run_summary.html
  documentation/release-notes/20-4.md
Labels: :key: WebApp

#895 Fix sessionid typo which is causing a 500 error on the web app
  WebApp/autoreduce_webapp/reduction_viewer/views.py
Labels: :exclamation: Backport-PR, :key: WebApp, ❗️ Bug

#837 release notes for 20_3
  documentation/release-notes/20-1.md
  documentation/release-notes/20-3.md
Labels: :exclamation: Backport-PR, :key: Documentation

#891 Fix manual_remove multiple version bug
  scripts/manual_operations/manual_remove.py
  scripts/manual_operations/tests/test_manual_remove.py
Labels: :key: Database, ❗️ Bug

#868 846 disable rerun for instruments with novariables
  WebApp/autoreduce_webapp/reduction_viewer/views.py
  WebApp/autoreduce_webapp/templates/instrument_summary.html
  WebApp/autoreduce_webapp/templates/run_summary.html
Labels: :key: WebApp

#904 Made ref to FileBrowser access on webapp
  WebApp/autoreduce_webapp/templates/help.html
Labels: :exclamation: Backport-PR, :key: Documentation

#913 Now uses the name of the data file to look for plot files
  WebApp/autoreduce_webapp/reduction_viewer/views.py
  WebApp/autoreduce_webapp/templates/help.html
  plotting/plot_handler.py
  plotting/tests/test_plot_handler.py
Labels: :exclamation: Backport-PR

#906 Use GitHub Actions for integration testing
  .github/workflows/run-tests.yml
  build/database/generate_database.py
  build/database/reset_autoreduction_db.sql
  build/database/tests/test_generate_database.py
  build/tests/test_db_generation.py
  requirements.txt
  travis.yml
  utils/test_credentials.ini
Labels: :key: Continuous Integration

#958 Remove broken reference to #previewScript in run_variables.js
  WebApp/autoreduce_webapp/static/javascript/run_variables.js
Labels: :clock1: High Priority, :key: WebApp, ❗️ Bug
