Repository ISISScientificComputing/autoreduce, pull requests merged in 2020-08, with the labels that each got.

#682 remove duplication document folder
  Documentation/docs_for_main_readme/Autoreduction_main_components.png
  Documentation/docs_for_main_readme/README.md
  documentation/assets/README.md
  documentation/assets/label_images/README.md
  documentation/assets/label_images/areas.png
  documentation/assets/label_images/bug.png
  documentation/assets/label_images/customer.png
  documentation/assets/label_images/new_starter.png
  documentation/assets/label_images/points.png
  documentation/assets/label_images/status.png
  documentation/release-notes/20-1.md
Labels: :key: Documentation

#666 665 upgrade twisted
  setup.py
Labels: :key: Environment

#684 Refactor help page content
  WebApp/autoreduce_webapp/templates/help.html
Labels: :key: WebApp

#648 Place creation of log file in a specific location inside a sub-method…
  queue_processors/autoreduction_processor/post_process_admin.py
  queue_processors/autoreduction_processor/tests/test_post_process_admin.py
Labels: :key: Reduction

#659 656 interactive tour instrument summary
  WebApp/autoreduce_webapp/static/javascript/create_tour.js
  WebApp/autoreduce_webapp/static/javascript/tours/instrument_summary_tour.js
  WebApp/autoreduce_webapp/templates/instrument_summary.html
Labels: :key: WebApp

#692 Update the readme for the autoreduction_processor module
  queue_processors/autoreduction_processor/README.md
Labels: :key: Documentation

#697 Help pages search filter
  WebApp/autoreduce_webapp/static/css/base.css
  WebApp/autoreduce_webapp/static/javascript/help.js
  WebApp/autoreduce_webapp/templates/help.html
Labels: :key: WebApp

#696 Update the queue_processor module readme
  queue_processors/queue_processor/README.md
Labels: :key: Documentation

#685 Move wiki user documentation into webapp help pages
  WebApp/autoreduce_webapp/templates/footer.html
  WebApp/autoreduce_webapp/templates/help.html
  WebApp/autoreduce_webapp/templates/navbar.html
Labels: :key: WebApp

#705 Link activemq install documentation
  build/install/activemq.bat
  build/test_settings.py
Labels: :clock1: In progress, :key: Documentation

#702 Comment out search bar in help page
  WebApp/autoreduce_webapp/templates/help.html
Labels: :key: Documentation

#695 Refactor of send reduction message to AMQ and message determination o…
  queue_processors/autoreduction_processor/post_process_admin.py
  queue_processors/autoreduction_processor/tests/test_post_process_admin.py
Labels: :key: Reduction

#711 Help page index menu
  WebApp/autoreduce_webapp/static/css/base.css
  WebApp/autoreduce_webapp/static/css/help.css
  WebApp/autoreduce_webapp/static/javascript/help.js
  WebApp/autoreduce_webapp/templates/help.html
Labels: :key: WebApp

#700 638 ppa Save Additional Directories
  queue_processors/autoreduction_processor/post_process_admin.py
  queue_processors/autoreduction_processor/tests/test_post_process_admin.py
Labels: :key: Reduction

#698 Refactor loading of reduction script as module
  queue_processors/autoreduction_processor/post_process_admin.py
  queue_processors/autoreduction_processor/tests/test_post_process_admin.py
Labels: :key: Reduction

#720 Center navbar and add index link
  WebApp/autoreduce_webapp/templates/instrument_summary.html
  WebApp/autoreduce_webapp/templates/navbar.html
  WebApp/autoreduce_webapp/templates/overview.html
  WebApp/autoreduce_webapp/templates/run_summary.html
Labels: :key: WebApp

#729 Ammendments to meet pylint 2.6 requirements
  build/generate_apache_wsgi.py
  model/message/message.py
  plotting/plot_meta_language/interpreter.py
  plotting/prepare_data.py
  queue_processors/autoreduction_processor/post_process_admin.py
  scripts/database_management/reset_database_post_cycle.py
  scripts/manual_operations/manual_submission.py
  utils/clients/connection_exception.py
  utils/clients/cycle_ingestion_client.py
  utils/clients/database_client.py
  utils/clients/django_database_client.py
  utils/clients/icat_client.py
  utils/clients/queue_client.py
  utils/clients/settings/client_settings.py
  utils/clients/settings/client_settings_factory.py
  utils/clients/sftp_client.py
  utils/data_archive/data_archive_creator.py
  utils/data_archive/file_filter.py
Labels: :clock1: High Priority, :key: Environment

#733 Contrast fix
  WebApp/autoreduce_webapp/static/css/base.css
Labels: :key: WebApp
