Repository ISISScientificComputing/autoreduce, pull requests merged in 2020-03, with the labels that each got.

#458 Skip calibration RBs
  Documentation/release-notes/20-1.md
  queue_processors/queue_processor/queue_processor.py
Labels: ❗️ Bug, 🔑 Queues, 🔑 WebApp

#495 Populate "Submitted by" in History tab and Experiment Summary
  WebApp/autoreduce_webapp/autoreduce_webapp/templatetags/get_user_name.py
  WebApp/autoreduce_webapp/reduction_viewer/views.py
  WebApp/autoreduce_webapp/templates/experiment_summary.html
  WebApp/autoreduce_webapp/templates/fail_queue.html
  WebApp/autoreduce_webapp/templates/run_confirmation.html
  WebApp/autoreduce_webapp/templates/run_queue.html
  WebApp/autoreduce_webapp/templates/run_summary.html
Labels: ❗️ Bug, 🔑 WebApp

#498 Stop collapse from blocking the RB-number-link
  WebApp/autoreduce_webapp/templates/instrument_summary.html
Labels: ❗️ Bug, 🔑 WebApp

#500 Add tests to queue_proc_utils
  queue_processors/queue_processor/queueproc_utils/status_utils.py
  queue_processors/queue_processor/queueproc_utils/tests/__init__.py
  queue_processors/queue_processor/queueproc_utils/tests/compare_db_object.py
  queue_processors/queue_processor/queueproc_utils/tests/test_status_utils.py
  queue_processors/queue_processor/queueproc_utils/tests/test_variable_utils.py
  queue_processors/queue_processor/queueproc_utils/variable_utils.py
Labels: 🔑 Queues, 🔑 Testing
