Repository ISISScientificComputing/autoreduce, pull requests merged in 2020-09, with the labels that each got.

#748 Remove duplicated daemon
  WebApp/autoreduce_webapp/autoreduce_webapp/daemon.py
Labels: :key: WebApp

#746 Fix status values on webapp
  WebApp/autoreduce_webapp/reduction_viewer/utils.py
  WebApp/autoreduce_webapp/templates/admin/graph_instrument.html
  WebApp/autoreduce_webapp/templates/experiment_summary.html
  WebApp/autoreduce_webapp/templates/fail_queue.html
  WebApp/autoreduce_webapp/templates/instrument_summary.html
  WebApp/autoreduce_webapp/templates/run_queue.html
  WebApp/autoreduce_webapp/templates/run_summary.html
  WebApp/autoreduce_webapp/templates/snippets/instrument_status.html
  WebApp/autoreduce_webapp/templates/snippets/run_table.html
Labels: :clock1: High Priority, :key: Database, :key: WebApp

#708 `python setup.py start` does not inform user if not started properly
  build/commands/start.py
  build/utils/process_runner.py
Labels: :key: Documentation, ❗️ Bug

#776 NULL autoreduction script/step for copy raw data for Muon instruments
  WebApp/autoreduce_webapp/templates/help.html
  WebApp/example_reduce.py
Labels: :key: Documentation, :key: Scripts
